{%extends 'all-projects/base.html'%} {%block content%} {%load static %}
{%load bootstrap4%}
{%load crispy_forms_tags %}


<div class="container">

   <div class="row">
     <img src="{{projects.project_image.url}}"  class="img-responsive" alt="">
   </div>

   <div class="row">
     <h1 class="text-center">{{projects.title}}</h1>
   </div>

   <div class="row">
     <p>{{projects.description}}</p>
   </div>

   <div class="row">
     <p>Posted {{article.pub_date|timesince}} by {{article.editor.first_name}}</p>
   </div>

 </div>
<div class="container mt-3">
    <p class="md-4 mt-4"> {{project.title|title}} by {{project.user.username|title}} </p>

          <div class="row mt-5">
                <div class="col-md-2"></div>
                <div class="col-md-8 mt-4">
            {% if user.is_authenticated %}
            <h5 class="mt-5 p-2 btn-color text-center">Rate Project</h5>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{rating_form|crispy}}
                <button class="btn btn-sm btn-color">Rate</button>
            </form>
            {% endif %}
</div>
{%endblock%}