{% extends "all-projects/base.html" %}

{% block content %}      

{% load crispy_forms_tags %}

<!--Login--> 
<div class="container py-5">
  <div class="card text-center" style="width: 24rem; margin-left: 200px;">
  <h1 class="card-header">Login</h1>
  <form method="POST" class="card-body">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center card-footer">Don't have an account? <a href="/register">Create an account</a>.</p>
</div>
</div>
{% endblock %}