{%extends 'all-projects/base.html'%} {%block content%} {%load static %}
<style>
.card{
    display: inline-flex;
    flex-direction: column;
    font-size: x-small;

}
img{
    width: 300px;
    height: 300px;
}
img:hover{
opacity: 0.6;
}
.bg{
  background-image: url('{%static "image/og.jpg"%}');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 400px;
 
}
.bg:hover{
  opacity: 0.6;
}
.hfour{
  height: 50px;
  text-align: center;
  font-size: larger;
  font-weight: bolder;
}
.bg{
  color:black;
  padding: 30px;
}
.site{
  height: 150px;
  padding-top: 50px;
}
.title{
  text-align: center;
}
.rates,.Srates,.trates,.frates{
  border-radius: 50px;
  border: 3px solid rgb(247, 20, 20);
  width: 50px;
  color: white;
  text-align: center;
  font-size: xx-small;
  font-weight: bold;
  display: inline-flex;
  margin-left: 250px;
  
}
.Srates{
  border-color: coral;
  margin-left: 30px;
}
.trates{
  border-color: rgb(42, 115, 211);
  margin-left: 30px;
}
.frates{
  border-color: rgb(23, 158, 211);
  margin-left: 30px;
}
.last{
  border-radius: 50px;
  color: white;
  margin-top: 130px;
  margin-left: 30px;
}
</style>

<div class="header">
  <h2 class="hfour">Awwwards.</h2>
</div>
<div class="bg">
  <p><b>site of the day</b> {{date|date:"l d-F Y"}}
  <i class="fa fa-share-alt" style="font-size:30px;color:black; margin-left: 600px;"></i>
  </p>
  <div class="title">
  <h3>Organic</h3>
  <h6>BY MELODY FROM KENYA WITH 7.1</h6>
  </div>
  <div class="rates">
    <p>7.20 <br> DESIGN</p>
  </div>
  <div class="Srates">
    <p>5.9 <br>USABILITY </p>
  </div>
  <div class="trates">
    <p>7.9 <br>CREATIVITY </p>
  </div>
  <div class="frates">
    <p>8.3 <br>CONTENT </p>
  </div>
<div class="last">
<button class="btn btn-primary btn-sm" style="border-radius: 50px;">Visit Site</button>
<button class="btn text-white btn-sm" style="border-style: 1px;border-color: white; border-radius: 50px;"> Collect</button>
</div>
</div>

<div class="container">
  <div class="site">
 <p><b>Sites of the day</b> Previous Winners</p>
</div>
  <div class="row" id="images" >
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
         {% for project in projects %}
      <div class="card" style="width: 24rem;">
        <img src="{{project.image.url}} " class="card-img-top" alt="..." />
        <div class="card-body">
          <b class="card-title">{{project.title}}</b>
          <p class="card-text">
            {{project.description}}
          </p>
          <a href="#" class="btn ">{{project.link}}   {{date|date:"l d-F Y"}}</a>
        </div>
        <div class="card-footer">
          <p>BY <b> {{project.user}} </b> </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{%endblock%}
